<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @day.plan %>
</p>

<p>
  <strong>Fitness:</strong>
  <%= @day.fitness %>
</p>

<p>
  <strong>Bms:</strong>
  <%= @day.bms %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @day.notes %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
