<p id="notice"><%= notice %></p>

<h2><%= @day.day_string %></h2>

<p>
  <strong>Plan:</strong>
  <%= @day.plan %>
</p>

<p>
  <strong>Fitness:</strong>
  <%= @day.fitness %>
</p>

<p>
  <strong>Meals:</strong>
</p>

<table>
  <thead>
    <tr>
      <th class="time">Time</th>
      <th class="foods">Foods</th>
      <th class="category veggies">Veggies</th>
      <th class="category fruits">Fruits</th>
      <th class="category proteins">Proteins</th>
      <th class="category carbs">Carbs</th>
      <th class="category fats">Fats</th>
      <th class="category seeds">Seeds</th>
      <th class="category oils">Oils</th>
    </tr>
  </thead>

  <tbody>
    <%= render @day.meals %>
  </tbody>
</table>
<%= link_to 'New Meal', new_day_meal_path(@day) %>

<p>
  <strong>Notes:</strong>
  <%= @day.notes %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to '<< Back', days_path %>
