<p id="notice"><%= notice %></p>

<h2><%= @day.pp %></h2>

<p>
  <strong>Plan:</strong>
  <%= @day.plan %>
</p>

<p>
  <strong>Fitness:</strong>
  <%= @day.fitness %>
</p>

<p>
  <strong>Meals:</strong>
</p>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Foods</th>
      <th>Veggies</th>
      <th>Fruits</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @day.meals %>
  </tbody>
</table>
<%= link_to 'New Meal', new_day_meal_path(@day) %>


<p>
  <strong>Bms:</strong>
  <%= @day.bms %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @day.notes %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
