<%= simple_form_for(@meal, url: @meal.new_record? ? day_meals_path : @meal) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2><%= @day.day_string %></h2>

  <table>
    <thead>
      <tr>
        <td class="time"><strong><%= form.label "Time (minutes since midnight)" %></strong></td>
        <td class="category veggies"><strong><%= form.label "Veggies" %></strong></td>
        <td class="category fruits"><strong><%= form.label "Fruits" %></strong></td>
        <td class="category proteins"><strong><%= form.label "Proteins" %></strong></td>
        <td class="category carbs"><strong><%= form.label "Carbs" %></strong></td>
        <td class="category fats"><strong><%= form.label "Fats" %></strong></td>
        <td class="category seeds"><strong><%= form.label "Seeds" %></strong></td>
        <td class="category oils"><strong><%= form.label "Oils" %></strong></td>
        <td class="foods"><strong><%= form.label :foods %></strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="time"><%= form.input_field :minutes_since_midnight %> = <%= @meal.time_string  %></td>
        <%= form.input_field :categories, as: :array %>
        <td class="foods"><%= form.text_field :foods %></td>
        <td><%= form.submit %></td>
      </tr>
    </tbody>
  </table>

<% end %>
