<%# _meal Partial is meant to be rendered within a table so that each meal is a <tr> row.  %>

<tr>
  <td><%= meal.pp %></td>
  <td class="foods"><%= meal.foods %></td>
  <td class="category"><%= meal.categories[0] %></td>
  <td class="category"><%= meal.categories[1] %></td>
  <td class="category"><%= meal.categories[2] %></td>
  <td class="category"><%= meal.categories[3] %></td>
  <td class="category"><%= meal.categories[4] %></td>
  <td class="category"><%= meal.categories[5] %></td>
  <td class="category"><%= meal.categories[6] %></td>
  <td><%= button_to 'Edit', edit_meal_path(meal), options = { method: :get } %></td>
  <td><%= button_to 'X', meal, options = { method: :delete, data: { confirm: 'Are you sure?' } } %></td>
</tr>
