<p id="notice"><%= notice %></p>

<h2><%= @meal.day.pp %></h2>

<h3><%= @meal.pp %></h3>

<p>
  <strong>Foods:</strong>
  <%= @meal.foods %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', day_meals_path(@meal.day) %>
